<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

	<!-- Page Header -->
	<header class="intro-header" style="background-image: url('/assets/img/work.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
					<div class="site-heading">
						<h1>{% for cat in site.all_categories %}{% if page.category == cat[0] %}栏目：{{cat[1]}} - {{ site.name }}{% endif %}{% endfor %}</h1>
						<!--<hr class="small">-->
						<span class="subheading">随便说说</span>
					</div>
				</div>
			</div>
		</div>
	</header>

    <!-- Main Content -->
	<div class="container">
		<div class="row">
			<!-- Post Container -->
			<div class="col-lg-8 col-lg-offset-1
						col-md-8 col-md-offset-1
						col-sm-12
						col-xs-12
						post-container">
				<!-- Main Content -->

				<!-- List -->
				<ul class="list-unstyled">
				{% for post in site.categories[page.category] %}
				  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
				  {% if year != y %}
					{% assign year = y %}
					<h2>{{ post.date | date: '%Y' }}</h2> 
				  {% endif %}
				  <li>
					<h4><span>{{ post.date | date:"%Y-%m-%d" }}</span>&raquo;
					<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
				  </li> 
				{% endfor %}
				</ul>
				<hr>

				<!-- Pager -->
				<ul class="pager">
				</ul>
			</div>

			<!-- Sidebar Container -->
			<div class="col-lg-3 col-lg-offset-0
					col-md-3 col-md-offset-0
					col-sm-12
					col-xs-12
					sidebar-container">
					
				<!-- Featured Tags -->
				<section>
					<!-- no hr -->
					<h5><a href="#">分类</a></h5>
					{% include categories.html %}
				</section>

				<hr>
				<h5>最近文章</h5>
				{% include recent_post.html %}

				<!-- Friends Blog -->
				<hr>
				<h5>友情链接</h5>
				{% include links.html %}
				
			</div>
		</div>
	</div>

    {% include footer.html %}

  </body>

</html>
