<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

	<!-- Page Header -->
	<header class="intro-header" style="background-image: url('{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
					<div class="post-heading">
						<h1>{{ page.title }}</h1>
						<h3 class="subtitle">
							{{ page.subtitle }}
						</h3>
						<span class="meta">PhychoLee. {{page.date | date:"%Y-%m-%d" }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>

    <!-- Main Content -->
	<div class="container">
		<div class="row">
			<!-- Post Container -->
			<div class="col-lg-8 col-lg-offset-2
						col-md-8 col-md-offset-1
						col-sm-12
						col-xs-12
						post-container">
				<!-- Main Content -->
				<div class="post-preview">
					{{ content }}
				</div>
				<hr>

				<!-- Pager -->
				<ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        上一章<br>
                        <!-- <span>{{page.previous.title | strip_html | truncate:14 }}</span> -->
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        下一章<br>
                        <!-- <span>{{page.next.title | strip_html | truncate:14}}</span> -->
                        </a>
                    </li>
                    {% endif %}
                </ul>
			</div>
		</div>
	</div>
	
	
	
    {% include footer.html %}

	<div class="return-top" style="display: none;">
		<span class="glyphicon glyphicon-chevron-up go" title="返回顶部"></span>
	</div>
  </body>

</html>

